body  {
    background: linear-gradient(130deg, #3e3a4ec9, #1f7f97da);
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.watch {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 440px;
    height: 160px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px solid rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(10px);
    border-radius: 32px;
    padding: 0px 10px;
}

.watch div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 120px;
    color: #000;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 1px 1px rgba(77, 40, 40, 0.212);
    border-radius: 7px;
    letter-spacing: 3px;
}

.watch span {
    font-size: 40px;
}

@media only screen and (max-width:480px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .watch {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: none;
        border: none;
    }
}